/* Apply flexbox for scheme container */
.template_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-around;
  gap: 20px;
  padding: 1em 3em;
}

/* Styling each scheme (card) */
.template_container .aos {
  display: grid;
  place-items: center;
  grid-template-rows: auto auto auto;
  padding: 20px;
  box-shadow: 0px 0px 5px var(--menu_color);
  border-radius: 10px;
  transition: transform 0.3s ease;
  & .patent_id {
    place-self: start;
  }
  & h3 {
    /* font-size: 1.5em; */
    margin: 0.5em 0;
  }
  & p {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines */
    -webkit-box-orient: vertical;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
  }
}

/* Ensure images have the same size */
.template_container .aos img {
  display: block;
  width: 30%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* Scheme card hover effect */
.template_container .aos:hover {
  transform: translateY(-10px);
}

/* Styling buttons */
.template_container .aos button {
  padding: 10px 20px;
  background-color: var(--menu_color);
  box-shadow: 0px 0px 5px var(--menu_color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inv_name{
  color: rgb(116, 115, 115);
  font-size: 1.2rem;
  justify-self: start;
  padding:0 1em;
}