<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gujarat Tech | Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav>
        <ul class="nav_menu">
            <li>
                <img src="../assets/logo.jpg" alt="" height="50px">
            </li>
            <li>
                <img src="../assets/logo2.jpg" alt="" srcset="" height="50px">
            </li>
            <li class="input">
                <input type="text" placeholder="Search">
                <div><img src="https://aryansrivastava07.github.io/landing-page/assets/search.png" height="10px"
                        alt="something"></div>
            </li>
            <li class="login">
                <a href="/login">
                    <h3>Login</h3>
                </a>
                <a href="/signup">
                    <h3>Sign-up</h3>
                </a>
            </li>
            <!-- <li class="profile">
                <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="">
            </li> -->
        </ul>
        <ul class="nav_option">
            <a href="#">
                <li class="active">Home</li>
            </a>
            <a href="#about">
                <li>About</li>
            </a>
            <a href="/schemes">
                <li>Schemes</li>
            </a>
            <a href="/patent">
                <li>Patents</li>
            </a>
            <a href="/user_dashboard">
                <li>Dashboard</li>
            </a>
            <a href="/chatbot">
                <li>Support</li>
            </a>
        </ul>
    </nav>
    <section class="head_container">
        <div class="carousel">
            <div class="carousel_item" data-set="active">
                <img src="../assets/pic1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel_item" data-set="afteractive">
                <img src="../assets/pic2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel_item" data-set="beforeactive">
                <img src="../assets/pic3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel_item" data-set="beforeactive">
                <img src="../assets/pic4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="trans_name">
            <div class="trans_item" data-set="Startup Name,Startup Name,Startup Name,Startup Name" id="trans_con">
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <h2>About</h2>
        <div class="about_container">
            Under the Gujarat Government's Startup Policy, eligible companies can get recognized as Startups by the
            Gujarat Industrial Development Corporation (GIDC) to access various benefits such as financial support,
            mentoring, infrastructure facilities, and market access. Learn more about eligibility and benefits below.
            <br /> <br />
            Discover how the Gujarat Startup Policy can help foster innovation, provide financial grants, and simplify
            processes for emerging startups to thrive in the state's entrepreneurial ecosystem
        </div>
        <div class="working">
            <div class="aos">
                <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/eligibility.svg?raw=1"
                    alt="">
                <b>Check Your Eligibility:</b>
                <p>
                    A startup must meet certain criteria to be considered eligible for DPIIT Recognition
                </p>
            </div>
            <div class="aos">
                <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/recognised.svg?raw=1"
                    alt="">
                <b>Get Recognised</b>
                <p>
                    Click here to know more about the recognition process & apply as a Startup..
                </p>
            </div>
            <div class="aos">
                <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/certificate.svg?raw=1"
                    alt="">
                <b>Notifications
                </b>
                <p>
                    Stay on top of Recognition & Tax Exemption updates.
                </p>
            </div>
        </div>
    </section>
    <section class="schemes">
        <h2>Schemes & Policies</h2>
        <p>An insight into the schemes and policies landscape of the Gujarat Startup Ecosystem, including steps taken by
            Government of Gujarat to ease the regulatory burden.</p>
        <div>
            <div class="noti aos">
                <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/notifications-icon.png"
                    alt="">
                <b>Notifications</b>
                <p>Stay on top of all policy and regulatory updates that are important for your next startup move.</p>
                <button>Know more</button>
            </div>
            <div class="central aos">
                <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/notifications-icon.png"
                    alt="">
                <b>Gujarat Government Schemes</b>
                <p>An aggregation of all Startup focused schemes and policies by the Government of Gujarat.</p>
                <button>Know more</button>
            </div>
            <!-- <div class="state aos">
                <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/notifications-icon.png"
                    alt="">
                <b>Generate Instantly:</b>
                <p>No more waiting! With a click of a button, generate your quiz in
                    seconds.
                    Share it
                    with
                    your audience, students, or colleagues effortlessly.</p>
                <button>Know more</button>
            </div> -->

        </div>

    </section>
    <section class="social_media">
        <h2>Social Media</h2>
        <div class="handles">
            <div class="twitter"></div>
            <div class="instagram"></div>
            <div class="whatsapp"></div>
            <div class="youtube"></div>
        </div>
    </section>
    <footer>
        <b>@2024 - Team HexaCore</b>
    </footer>

</body>
<script>
    let carousel = document.querySelector('.carousel');
    let carousel_items = carousel.children;
    let trans_items = document.querySelector('.trans_item').getAttribute("data-set").split(",");
    let i = 1;
    let j = 0;
    document.getElementById("trans_con").innerHTML = trans_items[i - 1];
    setInterval(() => {
        carousel_items[i - 2 >= 0 ? i - 2 : i == 1 ? carousel_items.length - 1 : carousel_items.length - 2].setAttribute('data-set', 'beforeactive');
        carousel_items[i - 1 >= 0 ? i - 1 : carousel_items.length - 1].setAttribute('data-set', 'beforeactive');
        carousel_items[i].setAttribute('data-set', 'active');
        carousel_items[i < 3 ? i + 1 : 0].setAttribute('data-set', 'afteractive');
        i + 1 > 3 ? i = 0 : i++;
        back();
    }, 3000);
    function type() {
        if (j < trans_items[i - 1 >= 0 ? i - 1 : trans_items.length - 1].length) {
            document.getElementById("trans_con").innerHTML += trans_items[i - 1 >= 0 ? i - 1 : trans_items.length - 1].charAt(j);
            j++;
            setTimeout(type, 1000 / trans_items[i - 1 >= 0 ? i - 1 : trans_items.length - 1].length);
        }
    }

    function back() {
        j = 0;
        let val = document.getElementById("trans_con").innerHTML;
        let val1 = val;
        if (val.length > 0) {
            const interval = setInterval(() => {
                val = val.substr(0, val.length - 1);
                document.getElementById("trans_con").innerHTML = val;
            }, 10);
            setTimeout(() => {
                clearInterval(interval);
                document.getElementById("trans_con").innerHTML = "";
                // type();
            }, 500);
        }
        setTimeout(() => {
            // clearInterval(interval);
            type();
        }, 500);
    }
</script>
<script src="../js/aos.js"></script>

</html>
