<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gujarat Tech | Schemes</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/schemes_style.css">
</head>

<body>
    <nav>
        <ul class="nav_menu">
            <li>
                <img src="../assets/logo.jpg" alt="">
            </li>
            <li>
                <img src="../assets/logo2.jpg" alt="" srcset="" height="50px">
            </li>
            <li class="input">
                <input type="text" placeholder="Search">
                <div><img src="https://aryansrivastava07.github.io/landing-page/assets/search.png" height="10px"></div>
            </li>
            <li class="login">
                <a href="/login">
                    <h3>Login</h3>
                </a>
                <a href="/signup">
                    <h3>Sign-up</h3>
                </a>
            </li>
        </ul>
        <ul class="nav_option">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/">
                <li>About</li>
            </a>
            <a href="">
                <li class="active">Schemes</li>
            </a>
            <a href="\patent">
                <li>Patents</li>
            </a>
            <a href="/user_dashboard">
                <li>Dashboard</li>
            </a>
            <a href="/chatbot">
                <li>Support</li>
            </a>
        </ul>
    </nav>
    <section>
        <h2>Schemes</h2>
        <div class="scheme_container">
            <div class="aos">
                <img src="https://startup.gujarat.gov.in/assets/img/lifecycle/Policy_innovation_02.png" alt="">
                <h3>Science, Technology and Innovation policy of Gujarat</h3>
                <p>Investment in Science and Technology and assisted Innovation has the potential
                    to solve many problems that the mankind or the economy faces in different
                    sectors.</p>
                <a
                    href="https://startup.gujarat.gov.in/files/2022/12/52413355-365f-40c9-9021-e2691af6d723_final-sti-policy-book.pdf">
                    <button>Know more</button>
                </a>
            </div>

            <div class="aos">
                <img src="https://startup.gujarat.gov.in/assets/img/lifecycle/Po_04.png" alt="">
                <h3>Student Startup and Innovation Policy for the state of Gujarat (SSIP 2.0) under SSIP</h3>
                <p>The Start-up culture in India has been an ever-growing phenomenon, which
                    has been gaining wide recognition as an engine of growth and
                    employability.</p>
                <a
                    href="https://startup.gujarat.gov.in/files/2022/2/b6152e79-790a-4f64-9da5-4b5738228179_SSIP_2.0_Education_Department_Gujarat.pdf">
                    <button>Know more</button>
                </a>
            </div>
            <div class="aos">
                <img src="https://startup.gujarat.gov.in/assets/img/lifecycle/Po_02.png" alt="">
                <h3>Scheme of assistance for Biotechnology (BT) Industry Under Gujarat State Biotechnology Policy
                    (2016-21)</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <a href="https://startup.gujarat.gov.in/files/2020/11/e03d3c2b-407a-41f4-ac82-bafde4aa9636_3.pdf">
                    <button>Know more</button>
                </a>
            </div>
            <div class="aos">
                <img src="https://startup.gujarat.gov.in/assets/img/lifecycle/Po_03.png" alt="">
                <h3>Scheme of assistance for Incubators and Start-ups under Electronics & IT/ITeS Start-up Policy for
                    the State of Gujarat (2016-21)</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <a href="https://startup.gujarat.gov.in/files/2020/11/cc55de12-0d26-420f-8df6-93468fb82949_1.pdf">
                    <button>Know more</button>
                </a>
            </div>
            <div class="aos">
                <img src="https://startup.gujarat.gov.in/assets/img/lifecycle/Po_04.png" alt="">
                <h3>Student Startup and Innovation Policy (SSIP) (2017-21)</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <a href="https://startup.gujarat.gov.in/files/2020/11/5aab2b79-a860-48fd-92fe-dfda98545927_2.pdf">
                    <button>Know more</button>
                </a>
            </div>
            <div class="aos">
                <img src="https://startup.gujarat.gov.in/assets/img/lifecycle/Po_01.png" alt="">
                <h3>Scheme for assistance for Startups/Innovation – Gujarat Industrial Policy 2020</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <a
                    href="https://startup.gujarat.gov.in/files/2020/11/67fa51ad-d410-49be-8ff3-f93adc784118_13-GR_02092020.pdf">
                    <button>Know more</button>
                </a>
            </div>
            <!-- <div>
                <img src="https://api.startupindia.gov.in/sih/api/file/user/image/Startup?fileName=c70e9edf-86cf-4ef5-b535-fa35407a17e5.png"
                    alt="">
                <h3>Startup India Seed Fund Scheme</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <button>Know more</button>
            </div>
            <div>
                <img src="https://api.startupindia.gov.in/sih/api/file/user/image/Startup?fileName=c70e9edf-86cf-4ef5-b535-fa35407a17e5.png"
                    alt="">
                <h3>Startup India Seed Fund Scheme</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <button>Know more</button>
            </div>
            <div>
                <img src="https://api.startupindia.gov.in/sih/api/file/user/image/Startup?fileName=c70e9edf-86cf-4ef5-b535-fa35407a17e5.png"
                    alt="">
                <h3>Startup India Seed Fund Scheme</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <button>Know more</button>
            </div>
            <div>
                <img src="https://api.startupindia.gov.in/sih/api/file/user/image/Startup?fileName=c70e9edf-86cf-4ef5-b535-fa35407a17e5.png"
                    alt="">
                <h3>Startup India Seed Fund Scheme</h3>
                <p>Startup India Seed Fund Scheme (SISFS) is an initiative of the Government of India to provide
                    financial assistance to startups for proof of concept, prototype development, product trials, market
                    entry, and commercialization.</p>
                <button>Know more</button>
            </div> -->
        </div>
    </section>
    <footer>
        <b>@2024 - Team HexaCore</b>
    </footer>

</body>
<script src="../js/aos.js"></script>

</html>