<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <nav>
      <ul class="nav_menu">
        <li>
          <img src="../assets/logo.jpg" alt="" height="50px" />
        </li>
        <li class="input">
          <input type="text" placeholder="Search" />
          <div>
            <img
              src="https://aryansrivastava07.github.io/landing-page/assets/search.png"
              height="100px"
            />
          </div>
        </li>
        <!-- <li class="login">
            <a href="login.html">
              <h3>Login</h3>
            </a>
            <a href="signup.html">
              <h3>Sign-up</h3>
            </a>
          </li> -->
        <li class="nav_profile">
          <img src="../assets/profile.png" alt="Profile" />
          <div>
            <a href="user_dashboard.html"><div>Dashboard</div></a>
            <a href="login.html"><div>Log-out</div></a>
          </div>
        </li>
      </ul>
      <ul class="nav_option">
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/">
          <li>About</li>
        </a>
        <a href="/schemes">
          <li>Schemes</li>
        </a>
        <a href="/patent">
          <li>Patents</li>
        </a>
        <a href="/chatbot">
          <li>Support</li>
        </a>
      </ul>
    </nav>
    <div class="container">
      <div class="section">
        <input type="checkbox" id="edit" class="edit_check" />
        <label for="edit" class="edit">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK0z3OWNvbMIzpaI5IXnyjFr7sIg6dNhVILg&s"
            class="edit_pic"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/60/60578.png"
            class="cancel"
            alt=""
          />
        </label>
        <div class="section_profile">
          <img src="../assets/profile.png" alt="" />
          <h3>
            <%= name %>
            <br />
            <span><%= role %></span>
          </h3>
        </div>
        <div class="bar">
          <div class="bar_item">
            <h3>Patents</h3>
            <h3><%= no %></h3>
          </div>
          <!-- <div class="bar_item">
            <h3>Schemes</h3>
            <h3>0</h3>
          </div> -->
          <!-- <div class="bar_item">
            <h3>Projects</h3>
            <h3>1</h3>
          </div> -->
        </div>
      </div>
      <div class="section">
        <!-- <div class="patent_list display_togle">
          <h2>All Researches !</h2>
          <details>
            <summary>
              Process of spontaneous dewatering of feed solution using salt
              bitterns as draw solutions
            </summary>
            <p>
              This patent describes an innovative soil moisture sensor that not
              only measures soil moisture levels but also integrates with a water
              management system for efficient irrigation. The sensor uses advanced
              materials and IoT technology to provide real-time soil moisture
              data. It can communicate wirelessly with a central control system,
              which analyzes the data and automatically adjusts irrigation
              schedules. 
            </p>
          </details>
          
        </div> -->
        <div class="research_list display_togle">
          <h2>All Patents !</h2>
            <% patents.forEach((patent,index)=>{ %>
            <details>
            <summary>
              <%= patent.titleofinnovation %>
            </summary>
            <div class="status">Granted</div>
            <p>
              The system also considers weather forecasts and
              plant-specific water requirements to optimize water usage. This
              technology significantly reduces water waste in agriculture and
              landscaping while promoting healthier plant growth.
            </p>
            
          </details>
          <% }) %>
              </p>
            </details>
        </div>
        <div class="display_togle">
          <h2>Important Links :</h2>
          <div class="btns_con">
            <a href="/iprform">
              <button class="filing_btn">File an IPR</button>
            </a>
            <!-- <a href="/startupform">
              <button class="filing_btn">Register your Startup</button>
            </a> -->
          </div>
        </div>
        <div class="user_details">
          <div class="card details">
            <h2>User Details :</h2>
            <form action="">
              <div class="content">
                <p>Name</p>
                <input
                  type="text"
                  name=""
                  placeholder="Name"
                  autocomplete="no"
                  class="editable"
                  disabled
                />
                <p>User-id</p>
                <input
                  type="text"
                  name=""
                  placeholder="User-id"
                  autocomplete="no"
                  class="editable"
                  disabled
                />
                <p>Mobile Number</p>
                <input
                  type="number"
                  id="phone"
                  class="editable"
                  name="phone"
                  placeholder="Enter Your Mobile Number"
                  oninput="validatePhone(this)"
                  autocomplete="none"
                  disabled
                />
                <p>Email-id</p>
                <input
                  type="email"
                  name=""
                  placeholder="email"
                  autocomplete="no"
                  class="editable"
                  disabled
                />
                <p>Password</p>
                <input
                  type="password"
                  name=""
                  placeholder="*******"
                  autocomplete="no"
                  class="editable"
                  disabled
                />
                <p>Adhaar Number</p>
                <input
                  type="number"
                  id="phone"
                  class="editable"
                  name="phone"
                  placeholder="Enter Your Adhaar Number"
                  oninput="validateAdhaarNumber(this)"
                  autocomplete="none"
                  disabled
                />
                <p>Language</p>
                <input
                  type="text"
                  name=""
                  placeholder="Language"
                  autocomplete="no"
                  class="editable"
                  disabled
                />
                <!-- <p>Name</p>
                                <input type="text" name="" value="Aryan Srivloremfgrgfrg34vfgdfgdg t trg trgtrastava" autocomplete="no"  class="editable" disabled> -->
                <!-- <p>Name</p>
                                <input type="text" name="" value="Aryan Srivastava" autocomplete="no"  class="editable" disabled> -->
              </div>
              <button type="submit" class="edit_submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <b>@2024 - Team HexaCore</b>
    </footer>
  </body>
  <script>
    var edit = document.getElementById("edit");
    edit.onclick = () => {
      var inputs = Array.from(document.querySelectorAll(".editable"));
      inputs.forEach((element) => {
        if (element.hasAttribute("disabled") === true) {
          element.removeAttribute("disabled");
          edit.textContent = "Cancel";
          edit.style.backgroundColor = "Green";
          document.querySelector(".edit_submit").style.display = "block";
        } else {
          element.setAttribute("disabled", "");
          edit.textContent = "Edit";
          edit.style.backgroundColor = "var(--color)";
          document.querySelector(".edit_submit").style.display = "none";
        }
      });
    };

    function validatePhone(input) {
      const maxLength = 10;
      const inputValue = input.value.toString();

      if (inputValue.length > maxLength) {
        // document.getElementById("phoneError").textContent =
        //   "Phone number should be up to 10 digits.";
        input.value = inputValue.slice(0, maxLength); // Truncate input
      } else {
        document.getElementById("phoneError").textContent = "";
      }
    }

    function validateAdhaarNumber(input) {
      const maxLength = 12;
      const inputValue = input.value.toString();

      if (inputValue.length > maxLength) {
        // document.getElementById("phoneError").textContent =
        //   "Phone number should be up to 10 digits.";
        input.value = inputValue.slice(0, maxLength); // Truncate input
      } else {
        // document.getElementById("phoneError").textContent = "";
      }
    }
  </script>
</html>
